#item-list-container{
    display: flex;
    justify-content: space-evenly;
}

#item-list-container p {
    color: black;
}

#item-list-container li{
    color: black;
}

@media (max-width: 800px) {
    #item-list-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}